{% extends 'base.html.twig' %}

{% block title %}Edit Ganho{% endblock %}

{% block body %}
    <h1>Edit Ganho</h1>

    {{ include('ganho/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ganho_index') }}">back to list</a>

    {{ include('ganho/_delete_form.html.twig') }}
{% endblock %}
