{% extends 'base.html.twig' %}

{% block title %}New Ganho{% endblock %}

{% block body %}
    <h1>Create new Ganho</h1>

    {{ include('ganho/_form.html.twig') }}

    <a href="{{ path('app_ganho_index') }}">back to list</a>
{% endblock %}
